<<<<<<< HEAD
@charset"UTF-8";

/*Stylesheet for mobile rules only*/

@media only screen {
    .wrapperOne-small {
    margin-top:0em; }
    .main-small {
    margin-left:30%; }
    .one-small {
        position:relative;
    }
}

@media only screen and (min-width: 768px) {
    .wrapperOne-large {
      margin-top:35em; }
    .main-large {
      margin-left:0; }
    .one-large {
        width: 100%;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 99; ;
    }
}