@charset"UTF-8";

/* CSS Document */
html {
    height:100%;
    min-width:500px;
}

 body {
    padding-top:0 !important;
    margin:0;
    margin-top:0;
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: 0 1px 0 #fff;
    height:100%;
}

h2, h3, h4, h5 {
    color:#4b4b4b;
}

.wrapperGreen h2, .wrapperGreen h3, .wrapperGreen h4, .wrapperGreen h5 {
    color:#4b4b4b;
    text-shadow:none;
}

.button {
    opacity:.7;
}

.wrapper {
    box-shadow:0 -1px 2px rgba(0, 0, 0, 0.29);
    background-color:#ffffff;
    min-width:32em;
}

.wrapperGreen {
    box-shadow:0 -1px 2px rgba(0, 0, 0, 0.29);
    background-color:orange;
    color:#636363;
    min-width:32em;
    text-shadow:none;
}

.subWrapper {
    /*border-bottom:1px solid #d2d2d2;*/
    min-width:32em;
}

.large-10 {
    min-width:32em;
}

/* * * * * * * * * * */
/*     TOP BAR       */
/* * * * * * * * * * */
/*#title {
    text-align:center;
    color: #990099;
    text-decoration: none;
    line-height: inherit;
    margin-top:1em;
}

#title h1 {
    color: #990099;
    line-height: inherit;
    cursor:pointer;
}

title h1:hover, title h1:focus {
    color:#80007f;
}

#head {
    background-image: linear-gradient(#f6f6f6 0%, #fafafa 50%, #fafafa 100%);
    background-color:black;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.29);
    color:white;
}

#connect a {
    color:white;
    text-shadow:none;
}

#number {
    margin-top:1.5em;
}

#fixedNav {
    margin-top:1.5em;
}*/

#navWrapper {
    height:3.5em;
    background-color:#323232;
}

#navWrapper section {
    background-color:inherit;
}

#appNav {
    text-shadow:none;
    background-color:inherit;
}

#navName {
    /*margin-top:-.1em;*/
    margin-top:0.1em;
    font-size: 2.5em;
    color:yellow;
    text-align:center;
    background-color:inherit;
    font-weight: bold;
}

#navRight {
    margin-top:.4em;
    background-color:inherit;
}

.top-bar-section ul li.active > a {
    background-color:inherit;
}

.top-bar.expanded .title-area {
    background-color:inherit !important;
}

.top-bar {
    /*position:fixed;*/
    padding-bottom: 50px;
}




#navName {
    text-shadow:none;
}
.navLinkBar {
    float:right;
    display:inline;
    list-style: none;
    margin-top:.75em;
}

.navLink {
    display:inline;
    margin-left:1em;
}

.navLink a {
    color:white;
    text-shadow:none;
}

#sideBarButton {
    height:1.2em;
    width:2em;
    margin-top:-1.6em;
    margin-left:0.5em;
    cursor:pointer;
}

@media only screen {
    .navLinkBar {
        display:none;
    }
    #sideBarButton {
        display:block;
    }
    #navName {
        margin-left:1.5em;
    }
}

@media only screen and (min-width: 768px) {
    .navLinkBar {
        display:block;
    }
    #sideBarButton {
        display:none;
    }
    #navName {
        margin-left:0;
    }
}

#sideBarPanel {
    background-color:#323232;
    width:15em;
    /height:100%;
    margin-left:-0.1em;
    margin-top:-6.1em;
    display:none;
    position:absolute;
    padding-bottom:1em;
    top:6em;
    bottom:-2em;
}

#sideBarPanel ul {
    margin-top:3em;
}

.sideBarLink {
    margin-top:1em;
}

.sideBarLink a {
    color:white;
    text-shadow:none;
}

#sideBarPanel ul {
    list-style:none;
}

.active {
    margin-left:14.8em;
}

.active #sideBarPanel {
    margin-left:-14.9em;
    display:block;
    position:fixed;
    z-index:-100;
    overflow:hidden;
}

.active #navWrapper {
    margin-left:14.8em;
}


/* * * * * * * * * * */
/*     SECTION ONE   */
/* * * * * * * * * * */

#one {
    z-index:-100;
    margin-top:6em;
    text-align:center;
}

#sloganBox {
    margin-left:25%;
}

#slogan {
    color: #636363;
    font-weight:normal;
    text-align:left;
    font-size:1.6em;
}

#signup_button {
    padding-top:1.1em;
    width:12em;
    height:3.5em;
    margin-top:2em;
    margin-left:-1em;
}

#signup_button a {
    color:white;
    text-shadow:none;
}

#menuButtons {
    margin-top:5%;
}

#menuButtons div {
    display:inline;
}

#menuButtons p {
    margin-bottom:-50px;
    display:inline;
    margin:25px;
    opacity:.7;
}

.menuButton p {
    cursor:pointer;
}

.menuButton {
    opacity:0.7;
}
#learnMoreLink {
    font-size:2em;
}


/* * * * * * * * * * */
/*     ABOUT         */
/* * * * * * * * * * */

#wrapperOne {
    box-shadow:0 -1px 2px rgba(0, 0, 0, 0.29);
    min-width:32em;
    text-shadow:none;
    background:url("/img/parkingLot5.png") center no-repeat;
    color:black !important;
}

#two {
    min-width:32em;
}

.menuBar {
    background-color:white;
    z-index:150;
    box-shadow: 0 0 20px #888888;
    border-radius:5px;
    position:relative;
    padding:5px;
    margin-top:0.7em;
    width:7.5em;
    color:#636363;
}

.menuBarFixed {
    margin-top:-33.5em;
    background-color:white;
    z-index:150;
    box-shadow: 0 0 20px #888888;
    border-radius:5px;
    position:fixed;
    padding:5px;
    width:7.5em;
    color:#636363;
}

.aboutIcon {
    min-height:14em;
}

#aboutTitle {
    margin-top:2em;
}

#message {
    margin-top:1em;
}

#messageImage {
    margin-top:-3em;
    margin-left:10em;
}

#community {
    margin-top:6em;
}

#communityImage {
    margin-bottom:4em;
    margin-left:10em;
}


/* * * * * * * * * * */
/*     FEATURES      */
/* * * * * * * * * * */

#gems {
    text-align: center;
}

.gemIcon {
    font-size: 6em;
    color:yellow;
}

/* * * * * * * * * * */
/*     FAQs          */
/* * * * * * * * * * */

.question {
    cursor:pointer;
}

.answer {
    margin-left:1em;
    display:none;
}


/* * * * * * * * * * */
/*     FOOTER        */
/* * * * * * * * * * */

.footer {
    background-color:#323232;
    text-shadow:none;
    color: white;
    text-align:center;
}

.footer ul {
    list-style: none;
    display:inline;
}

.footer ul li {
    display:inline;
    margin:1em;
    margin-left:-0.05em;
    margin-bottom:3em;
}
.footer ul a {
    color: yellow;
}

#footer {
    padding-top:1em;
}
.copyright {
    margin-top:2em;
}