@charset "UTF-8";
/* CSS Document */

/* General Rules */
#signupTitle {
    text-align:center;
    color: #990099;
    text-decoration: none;
    line-height: inherit;
    margin-top:1em;
}

#signupTitle h1 {
    color: #990099;
    line-height: inherit;
    cursor:pointer;
}

#signUpForm {
    margin-top:10em;
}

#form input {
	border: 2px dotted black;
	border:none;
	border-radius:5px;
}

#state {
    margin-top:0.2em;
}

#submitButton {
    padding-top:1.1em;
    width:100%;
    height:3.5em;
    text-shadow:none;
    margin-left:auto;
    margin-right:auto;
}

#signupFooter {
    position:relative;
    margin-top: 10em;
    z-index:101;
}

form {
    text-align: center;
    margin-top: 25px;
    width:300px;
    height:325px;
    background-color: none;
    border: none;
}

fieldset legend {
    margin-top: 30px;
    padding-top:10px;
    font-size: 30px;
    color: #222222;  
}

.error small.error, span.error, small.error {
    background: #d45252 !important;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 98; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
	text-shadow:none;
}

.error small.error::before, span.error::before, small.error::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:5px;
	left:-9px;
	border:none;
}


.error input, .error textarea, .error select {
    background: #fff url('../img/asterisk.png') no-repeat 98% center;
}

input:required:valid, textarea:required:valid {
	background: #fff url('../img/valid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

input:focus:invalid, textarea:focus:invalid {
	background: #fff url('../img/invalid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

input:focus {
	display:inline;
}

