@charset "UTF-8";
/* CSS Document */

/* General Rules */

/*Form Rules*/
#signupTitle {
    text-align:center;
    color: #990099;
    text-decoration: none;
    line-height: inherit;
    margin-top:1em;
}

#signupTitle h1 {
    color: #990099;
    line-height: inherit;
    cursor:pointer;
}

#title2 {
	text-align:center;
}

#signUpForm {
    margin-top:10em;
}

#form input {
	border: 2px dotted black;
	border:none;
	border-radius:5px;
}

#lplate {
}

#state {
    margin-top:0.2em;
}

#stateInput {
	width:10%;
	float:left;
	min-width:5em;
}

#licensenumber {
	width:30%;
	margin-left:20%;
	margin-top:-2.5em;
}

#submitButton {
    padding-top:1.1em;
    width:100%;
    height:3.5em;
    text-shadow:none;
    margin-left:auto;
    margin-right:auto;
}

#signupFooter {
    position:relative;
    margin-top: 10em;
    z-index:101;
}

form {
    text-align: center;
    margin-top: 25px;
    background-color: none;
    border: none;
}

fieldset legend {
    margin-top: 30px;
    padding-top:10px;
    font-size: 30px;
    color: #222222;  
}

.submitButtonWrapper {
    width:52%;
}


/*Validtion Rules*/
.error small.error, span.error, small.error {
	background:white !important;
	border-radius: 3px 3px 3px 3px;
	color: red !important;
	padding: 1px 6px;
	z-index: 98;
	position: absolute;
	display: none;
	text-shadow:none;
	margin-left:55%;
	margin-top:-3.5em !important;
	text-align:left;
}

.inputReg {
	width:50% !important;
}

.error input, .error textarea, .error select {
    background: #fff url('../img/asterisk.png') no-repeat 98% center;
    margin-bottom:1em;
}

.valid input:required, .valid textarea:required {
	background: #fff url('../img/valid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
	margin-bottom:1em;
}

.error input:focus:invalid, .error textarea:focus:invalid {
	background: #fff url('../img/invalid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535;
}

#state.error select {
	background: none;
	border-radius:10px;
	margin-bottom: 1em;
}


/*valid handling*/
.valid small.valid, span.valid, small.valid {
	background:white !important;
	border-radius: 3px 3px 3px 3px;
	color: #28921f !important;
	padding: 1px 6px;
	z-index: 98;
	position: absolute;
	display: none;
	text-shadow:none;
	margin-left:55%;
	margin-top:-3.5em !important;
	text-align:left;
}

	/*DEFAULTS FROM FOUNDATIONS WITH CLASS CHANGED TO VALID*/
	[data-abide] .valid small.valid, [data-abide] span.valid, [data-abide] small.valid {
	  display: block;
	  padding: 0.375em 0.25em;
	  margin-top: -1.3125em;
	  margin-bottom: 1em;
	  font-size: 0.75em;
	  font-weight: bold;
	  background: #c60f13;
	  color: white;
	  margin-top: 0; }
	[data-abide] span.valid, [data-abide] small.valid {
	  display: none; }

	span.valid, small.valid {
	  display: block;
	  padding: 0.375em 0.25em;
	  margin-top: -1.3125em;
	  margin-bottom: 1em;
	  font-size: 0.75em;
	  font-weight: bold;
	  background: #c60f13;
	  color: white; }

	.valid input,
	.valid textarea,
	.valid select {
	  .valid input:focus,
	  .valid textarea:focus,
	  .valid select:focus {
	    background: #fafafa;
	    border-color: #999999; }
	.valid label,
	.valid label.valid {
	  color: #c60f13; }
	.valid small.valid {
	  display: block;
	  padding: 0.375em 0.25em;
	  margin-top: -1.3125em;
	  margin-bottom: 1em;
	  font-size: 0.75em;
	  font-weight: bold;
	  background: #c60f13;
	  color: white; }
	.valid span.valid-message {
	  display: block; }

	input.valid,
	textarea.valid {
	  border-color: #c60f13;
	  background-color: rgba(198, 15, 19, 0.1); }
	  input.valid:focus,
	  textarea.valid:focus {
	    background: #fafafa;
	    border-color: #999999; }

	.valid select {
	  border-color: #c60f13;
	  background-color: rgba(198, 15, 19, 0.1); }
	  .valid select:focus {
	    background: #fafafa;
	    border-color: #999999; }
