@charset "UTF-8";
/* CSS Document */

body {
    padding:0px;
    margin:0px;
    margin-top:0px;
	background-color: white;
    background-image:url('../img/WTbackground.jpg');
	
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h2, h3, h4, h5 {
    color:#4b4b4b;
}

.button {
    opacity:.9;
}

.wrapper {
    box-shadow:0 -1px 2px rgba(0, 0, 0, 0.29);
    background-color:#ffffff;
    min-width:32em;
}

.subWrapper {
    border-bottom:1px solid #d2d2d2;
    min-width:32em;
}

.large-10 {
    min-width:32em;
}


/*HEADER RULES*/
#navWrapper {
    height:3.5em;
    background-color:#323232;
}

#navWrapper section {
    background-color:inherit;
}

#appNav {
    text-shadow:none;
    background-color:inherit;
}

#navName {
    margin-top:-.1em;
    font-size: 2.5em;
    color:yellow;
    text-align:center;
    background-color:inherit;
    font-weight: bold;
}

#navRight {
    margin-top:.4em;
    background-color:inherit;
}

.top-bar-section ul li.active > a {
    background-color:inherit;
}

.top-bar.expanded .title-area {
    background-color:inherit !important;
}

.top-bar {
    /*position:fixed;*/
    padding-bottom: 50px;
}

@media only screen and (min-width: 58.75em) {
    .top-bar-section {
        margin-top:0 !important;
    }
}

@media only screen {
    .top-bar-section {
        margin-top:1em;
    }
}

.top-bar-section ul li.active > a {
    padding-top:0.5em;
    background-color:#323232;
}

/*FORM AND BODY RULES*/
form {
    width:300px;
	height:325px;
	background-color: none;
	border: none;
}

input[type= submit]{  
	width:220px;
    height: 50px;
	margin-top: 10px;
    background-color:green;
    box-shadow:0 0 10px #888888;
    border-radius:3px;
    text-align:center;
    padding-top:10px;
    border:1px solid #888888;
	color:black;
    font-size:25px;
}
	
fieldset legend {
	margin-top: 30px;
	padding-top:10px;
	font-size: 30px;
	color: #222222;
    background: none;
}

#message{height: 100px;
width: 200px;
color: black;
background-color: white;}
