@charset "UTF-8";
/* CSS Document */

body {
    padding:0px;
    margin:0px;
    margin-top:0px;
	background-color: white;
	
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: 0 1px 0px #fff;
}

h2, h3, h4, h5 {
    color:#4b4b4b;
}

.button {
    opacity:.9;
}

.wrapper {
    box-shadow:0 -1px 2px rgba(0, 0, 0, 0.29);
    background-color:#ffffff;
    min-width:32em;
}

.subWrapper {
    border-bottom:1px solid #d2d2d2;
    min-width:32em;
}

.large-10 {
    min-width:32em;
}


/*HEADER RULES*/
#header {
    text-align:center;
}

#head {
    background-image: linear-gradient(#f6f6f6 0%, #fafafa 50%, #fafafa 100%);
    background-color:white;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.29);
}

#connect a {
    color:white;
    text-shadow:none;
}

#number {
    margin-top:1.5em;
}

#fixedNav {
    margin-top:1.5em;
}

#navBar {
    color: white;
    text-align:center;
    float:right;
    margin-top:-50px;   
}

form {align: center;
width:300px;
margin-top: 100px;
	height:325px;
	background-color: none;
	border: none;}
input[type= submit]{  
	width:220px;
    height: 50px;
	margin-top: 10px;
    background-color:green;
    box-shadow:0 0 10px #888888;
    border-radius:3px;
    text-align:center;
    padding-top:10px;
    border:1px solid #888888;
	color:black;
   font-size:25px;}
	
fieldset legend {
	margin-top: 30px;
	padding-top:10px;
	font-size: 30px;
	color: #222222;
	
}



#message{height: 100px;
width: 200px;
color: black;
background-color: white;}